{% extends "base.html" %}
{% load faszkorbacs %}
{% block content %}
<h1>{{ posts }}</h1>
<fieldset class="entry">
    <legend><a href="{{ post.get_nice_url }}"><h1>{{ post.title }}</h1></a></legend>
    <div class="post">{{ post.post|safe }}</div>
    <h3 class="author">/ {{ post.author }} / {{ post.date }} /</h2>
            <div class="post_footer">címkék:
    {% for tag in post.tags.all %} <a href="{% root_url %}/tags/{{ tag }}" title="{{ tag }}">{{ tag }}</a>  {% endfor %} </div>
    <h3>Új comment</h3>
    {% include "add_comment.html" %}
    <h2>Commentek</h2>
    {% for comment in post.comments_set.all %}
        <h4>{{ comment.author }}</h4>
        <div class="comment">
            {{ comment.comment }}
            <div class="comment_footer">
                {{ comment.date }}
            </div>
        </div>
        <hr />
    {% endfor %}
</fieldset>
{% endblock %}
